@font-face {
    /* doesnt work for some reason */
    font-family: "Trajanus";
    src: url("../assets/fonts/trajanus-roman.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
button {
    user-select: none;
}
/* ----------login---------- */
#login-container {
    align-items: center;
    background-image: url('/static/images/red-texture.png');
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}
.login-card {
    align-items: center;
    background: #7F2122;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    padding: 2rem;
    width: 100%;
}
.login-card button {
    background: #D32929;
    border: none;
    border-radius: 4px;
    color: #FACD1E;
    cursor: pointer;
    padding: 0.5rem 2rem;
    transition: background 0.3s, transform 0.3s;
}
.login-card button:hover {
    background: #FACD1E;
    color: #7F2122;
    transform: scale(1.05);
}
.login-card h1 {
    color: #FACD1E;
    padding: 1.5rem 0 1rem;
    text-align: center;
}
.login-card input {
    border: 1px solid #7F2122;
    border-radius: 5px;
    min-width: 300px;
    padding: 0.5rem 1rem;
}
.login-card p {
    color: #FACD1E;
    margin-bottom: 1rem;
}
#invalid-name-message {
    margin-bottom: 0.75rem;
    margin-right: 2.5rem;
    min-height: 1.2rem;
}

/* ----------game----------- */
#game-container {
    background-image: url('/static/images/red-texture.png');
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    min-height: 100vh;
}

/* ----------left-sidebar----------- */
.left-sidebar {
    background: transparent;
    color: #FFF5E6;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.25rem;
}
.left-sidebar h1 {
    border-bottom: 2px solid #FACD1E;
    color: #FACD1E;
    font-size: 1.75rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

/* ----------profile-card----------- */
.profile-card {
    background: #7F2122;
    border-radius: 8px;
    padding: 1rem;
}
.profile-card button {
    background: #D32929;
    border: none;
    border-radius: 4px;
    color: #FACD1E;
    cursor: pointer;
    margin-top: 2rem;
    padding: 0.25rem 1rem;
    transition: background 0.3s, transform 0.3s;
}
.profile-card button:hover {
    background: #FACD1E;
    color: #7F2122;
    transform: scale(1.05);
}
.profile-card p {
    font-size: 14px;
    padding: 2px;
}
.profile-card .name-container {
    padding-bottom: 0.5rem;
}
.profile-card #display-name {
    color: #FACD1E;
}
.profile-card #id-tag {
    color: #face1e88;
}

/* ----------nav----------- */
nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    user-select: none;
}
nav a {
    border-radius: 4px;
    color: #FFF5E6;
    font-size: 14px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.3s;
}
nav a:hover {
    background: #7F2122;
    padding-left: 1.25rem;
}
nav a.active {
    background: #FACD1E;
    color: #7F2122;
    font-weight: bold;
}

/* ----------right-sidebar----------- */
.right-sidebar {
    background: transparent;
    color: #FFF5E6;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.25rem;
}
.market-board,
.global-chat {
    background: #7F2122;
    border-radius: 8px;
    padding: 1rem;
    flex: 1;
}

/* ----------content----------- */
.content {
    background: #E5DBB7;
    padding: 1.25rem;
    overflow-y: auto;
}
.page-content {
    background: #FFF5E6;
    border-radius: 8px;
    padding: 1.5rem;
    min-height: 95vh;
}
.page-content h1 {
    border-bottom: 2px solid #D32929;
    color: #D32929;
    margin-bottom: 1rem;
}

/* ----------resources-page---------- */
.resource-container {
    background: #7F2122;
    border-radius: 0.5rem;
    color: #FFF5E6;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: all 0.3s;
    user-select: none;
}
.resource-name {
    text-align: left;
    font-weight: bold;
}
.resource-gatherers-container {
    text-align: right;
}
.resource-container:hover {
    background: #D32929;
    color: #FACD1E;
    cursor: pointer;
    padding: 0.5rem 1.25rem;
}
.resource-active {
    background: #FACD1E;
    color: #7F2122;
    transform: scale(1.05);
}
.resource-active:hover {
    background: #FACD1E;
    color: #7F2122;
    transform: scale(1.05);
}


/*
Rose (#D32929), Gold Bar (#FACD1E), Shiny Pearl (#FFF5E6), Aged Paper (#E5DBB7), Comfort Khaki (#CAC198) and Dark Rose (#7F2122)
*/