<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <title>Civilization</title>
</head>
<body>
    <div id="login-container">
        <div class="login-card">
            <h1>CIVILIZATION</h1>
            <p>Enter your name to join the world</p>
            <input type="text" id="player-name-input" placeholder="Enter your name...">
            <p></p>
            <button>Join World</button>
            <p></p>
        </div>
    </div>
</body>
</html>